# Production Environment
DJANGO_DEBUG=False
DJANGO_SECRET_KEY=production-highly-secure-master-key
SECRETS_SOURCE=AWS
AWS_SECRETS_MANAGER_NAME=securecoda/prod/secrets
AWS_REGION=us-east-1
REDIS_URL=redis://redis:6379/0
DJANGO_ALLOWED_HOSTS=securecoda.company.com,backend
CORS_ALLOWED_ORIGINS=https://securecoda.company.com
